# Node service
PORT=3000
MONGODB_URI=
DBUsername=
DBPassword=
JWT_SECRET=
OPENAI_API_KEY=
GEMINI_API_KEY=
AUTH0_AUDIENCE=
YOUTUBE_API_KEY=

# Java service
APP_USER=
APP_PASS=
POSTGRES_URL=
POSTGRES_USER=
POSTGRES_PASS=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
GEMINI_API_KEYS=
REDIS_URL=

# Python service
OPEN_ROUTER_API_KEY=
